<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Download Benchmarks!</h2>
                <hr class="light">
                <p class="text-faded">MNT-Bench has everything you need. No strings attached!</p>
                <a href="/benchmarks/trindade16/mux21.fgl" download="download">Download My Resume</a>
            </div>
        </div>
    </div>
</section>
